{% extends 'base.html' %}

{% block titulo %} Upline {% endblock %}

{% block contenido %}

{% load static %}

<header>
    <nav class="barra-menu fixed-top">
        <div class="logo">
            <a href="{% url 'inicio'%}">
                <img src="../static/assets/Media/img/logo-upline-blanco.png" alt="" width="40">
            </a>
        </div>
        <div class="items">
            <ul>
                <li><a href="mockups.html" class="link-item">Aplicación</a></li>
                <li><a class="link-item">Presentación <i class="fas fa-angle-down"></i></a>
                    <ul class="desplegable">
                        <li><a href="esquema.html">Base de datos</a></li>
                        <li><a href="diccionario-datos.html">Diccionario de datos </a></li>
                    </ul>
                </li>
                <li><a href="{% url 'nosotros'%}" class="link-item">Quiénes somos</a></li>
                <li><a href="{% url 'contacto'%}" class="link-item">Contáctenos</a></li>
            </ul>
        </div>
    </nav>
</header>

<h2 class="text-danger">{{ TituloEjemplo }}</h2>

{% endblock %}